mark{
	color: #0000FF;
	background-color: #0000A0;
	font-family:"BankGothic Md BT";
}
body{
	color: #0000A0;
	background-color: #ADD8E6;
	
}
a{
	color:red;
}
td{
	border: 3px solid red;
	font-size:175%;
	font-family:"Agency FB";
	color:red;
}